// @font-face {
//   font-weight: normal;
//   font-family: "PT Sans Narrow";
//   font-style: normal;
//   src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff");
// }

// @font-face {
//   font-weight: bold;
//   font-family: "PT Sans Narrow";
//   font-style: normal;
//   src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff");
// }

// body {
//     min-width: 320px;
//     margin: 0;
//     padding: 0;
//     font-family: 'PT Sans', 'Helvetica', 'Arial', sans-serif;
//     // font-size: 18px;
//     // line-height: 27px;
//     // font-family: "Arial", sans-serif;
//     // color: #f7f4f1;
//     // font-style: normal;
  
//     // background-color: @bg-darkgrey;
//   }
  


  .visually-hidden:not(:focus):not(:active) {
    position: absolute;
  
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
  
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  